
body {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 223, 190);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
            
}
header {
    background-color: rgb(246, 250, 247);
    color: blue;  
    text-align: left;
}
nav {
    background-color: rgb(130, 229, 199);
}
nav ol {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav ol li a {
    color: aquamarine;
    text-decoration: none;
}
nav ol li a:hover{
    text-decoration: underline;
}
footer {
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;

}
.csmju-text {
    font-size: 1.2em;
    color: white;
    margin: 50px 0;
}
.csimage{
    width: 200px;
    height: 350px;
}
   